<!-- <div class="file-upload">
  <h2>Subir Carpeta</h2>

  <div class="actions">
    <button (click)="selectFolder()">Seleccionar Carpeta</button>
    <button (click)="uploadFolder()" [disabled]="!folderStructure || folderStructure.length === 0">
      Subir
    </button>
  </div>

  <h3>Estructura de Carpeta</h3>
  <ul class="folder-list">
    <ng-container *ngFor="let folder of folderStructure">
      <li>
        <div class="folder" (click)="toggleFolder(folder)">
          <span [class.open]="folder.isOpen">📂</span> {{ folder.name }}
        </div>

        <ul *ngIf="folder.isOpen" class="sub-folder-list">
          <ng-container *ngFor="let subItem of folder.contents">
            <li *ngIf="subItem.isFolder">
              <div class="folder" (click)="toggleFolder(subItem)">
                <span [class.open]="subItem.isOpen">📂</span> {{ subItem.name }}
              </div>
              <ul *ngIf="subItem.isOpen" class="sub-folder-list">
                <ng-container *ngFor="let file of subItem.contents">
                  <li *ngIf="!file.isFolder" (click)="displayFileContent(file)" class="file">
                    📄 {{ file.name }}
                  </li>
                </ng-container>
              </ul>
            </li>
            <li *ngIf="!subItem.isFolder" (click)="displayFileContent(subItem)" class="file">
              📄 {{ subItem.name }}
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>

  <div *ngIf="fileContent" class="file-content">
    <h4>Contenido del Archivo</h4>
    <pre>{{ fileContent }}</pre>
  </div>
</div> -->

<div class="file-upload">
  <h2>Gestión de Archivos y Carpetas</h2>
  <app-archivos-from (folderSelected)="onFolderSelected($event)"></app-archivos-from>
  <app-archivos-list [folderStructure]="folderStructure" (fileSelected)="onFileSelected($event)"></app-archivos-list>
  <app-archivos-details [fileContent]="fileContent"></app-archivos-details>
</div>



