<div class="bg-[#3f51b5a6] pt-4 flex justify-center h-[2%]">
    <p class="border-t w-[80%]"></p>
</div>
<div class="main-footer flex justify-around w-full h-[25%] items-center bg-[#3f51b5a6] ">

    <!-- logo -->
    <div class="logo flex mx-2">
        <button (click)="navigateHome()" type="button">
            <img class="w-[180px] h-[140px]" src="../../../assets/images/logo blanco.png" alt="">
        </button>
    </div>
    <!-- logo -->
    <!-- direccion -->
    <div class=" flex w-[30%] justify-end pt-4 ">
        <div class="info flex flex-col pt-4">
            <p class="text-xl text-white">Dirección: Carrera 24 No. 39-54, Calarcá, Quindío</p>
            <p class="text-xl text-white">Direccion: Carrera 16 No. 44-210 barrio los Tanques, Calarcá</p>
            <p class="text-xl text-white">Email: contactenos&#64;emca-calarca-quindio.gov.co</p>
        </div>

    </div>
    <!-- direccion -->
</div>