<div class="information-dashboard">
  <h1>Panel de Información</h1>
  <button mat-raised-button *ngIf="isLoggedIn() && isAdmin" color="primary" (click)="openDialog()">Crear Información</button>
  
  <div *ngIf="informationList.length > 0; else noInfo" class="card-container">
    <div *ngFor="let info of informationList" class="card">
      <h2>{{ info.titulo }}</h2>
      <a  mat-list-item (click)="navigateToArchivos()">Ver más</a>
      <div class="card-actions" *ngIf="isLoggedIn() && isAdmin">
        <button mat-button color="accent" (click)="openDialog(info)">Editar</button>
        <button mat-button color="warn" (click)="deleteInformation(info.id)">Eliminar</button>
      </div>
    </div>
  </div>
  
  <ng-template #noInfo>
    <p class="no-info">No hay información disponible.</p>
  </ng-template>
</div>
