<div
  id="contMain"
  class="contMain flex p-1 justify-between bg-[#fafafa] border-1 border-gray shadow-md"
>
  <div class="logo flex w-[30%] mx-2 p-2">
    <button (click)="navigateHome()" type="button">
      <img
        class="w-[100px] h-[80px]"
        src="../../../assets/images/logo color.png"
        alt=""
      />
    </button>
  </div>

  <div class="flex justify-center w-[30%] h-full p-2">
    <div class="text-center w-full">
      <p class="font-mono text-[#3f48cc] text-4xl">
        {{ currentTime }}
      </p>
      <p class="font-mono text-[#3f48cc] text-2xl">
        {{ currentDate }}
      </p>
    </div>
  </div>

  <div class="nav w-[30%] mb-4 flex items-end justify-end mx-4">
    <div class="nav-list flex justify-evenly gap-8">
      <div class="flex items-center">
        <li class="text-md" *ngIf="isLoggedIn()">
          {{ nombre }} {{ apellido }}
        </li>
      </div>
    </div>
    <div class="ml-4">
      <div class="btn-login-registro flex">
        <button
          class="p-1 px-2 rounded-md text-lg text-[#3f48cc] cursor-pointer hover:bg-[#3f48cc] hover:text-white"
          *ngIf="!isLoggedIn() && !isLoginRoute() && showLoginButton"
          (click)="navigateLogin()"
        >
          Ingresar
        </button>
      </div>
      <div class="btnBack">
        <button
          class="text-lg"
          mat-raised-button
          color="primary"
          *ngIf="!isHomeRoute() && showBackButton"
          (click)="back()"
          type="button"
        >
          Volver
        </button>
      </div>
    </div>
  </div>
</div>
