<div class="cont-main flex justify-between bg-[#fafafa] ">
  <!-- ----Menu lateral---- -->
  <app-sidebar class="mt-2"></app-sidebar>
  <!-- ----Menu lateral---- -->
  <!-- ----Publicaciones---- -->
  <div class="cont-center p-1 flex flex-col mt-2 w-[65%]  gap-2">
    <div class="subContMain p-4 h-full w-full ">
      <app-news-dashboard></app-news-dashboard>
    </div>
  </div>
  <!-- ----Publicaciones---- -->
  <div class="cont-lat flex flex-col gap-2  p-3 w-[19%] h-fill bg-white  border-l-2 border-gray shadow-md">
    <!-- ----links---- -->
    <app-link></app-link>
    <!-- ----links---- -->
    <!-- ----cumpleaños---- -->
    <app-birthday-images></app-birthday-images>
    <!-- ----cumpleaños---- -->
     
  </div>
</div>