<div class="news-list p-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div *ngFor="let news of newsList"
    class="bg-white rounded-t-lg border border-gray-200 shadow-md hover:shadow-xl transition-shadow ">

    <!-- Contenido del encabezado -->
    <div class="flex items-center pt-4 rounded-t-lg bg-[#3f51b5a6]">
      <div class="ml-4">
        <h1 class="text-lg text-white ">{{ news.titulo }}</h1>
        <p class="text-white text-sm">{{ news.fechaPublicacion | date:'medium' }}</p>
      </div>
    </div>

    <!-- Imagen de la noticia -->
    <img class="w-full h-48 object-cover rounded-b-lg" *ngIf="news.imagen" [src]="getImageUrl(news.imagen)"
      alt="{{ news.titulo }}">

    <!-- Descripción de la noticia -->
    <div class="p-4">
      <a [routerLink]="['/news', news.id]" class=" text-lg cursor-pointer text-blue-500">Ver más...</a>
    </div>
    <!-- Botones de acción -->
    <div *ngIf="isLoggedIn() && isAdmin" class="p-4 flex gap-2 border-t border-gray-200">
      <button mat-raised-button color="primary" class="  text-white py-1 px-3 rounded "
        (click)="editNews(news)">Editar</button>
      <button mat-raised-button color="warn" class="  text-white py-1 px-3 rounded "
        (click)="deleteNews(news.id)">Eliminar</button>
    </div>
  </div>
</div>